/* hide scrollbar but allow scrolling */
body {
    -ms-overflow-style: none; /* for Internet Explorer, Edge */
    scrollbar-width: none; /* for Firefox */
    overflow-y: scroll; 
    background-color: #272822;
    color: aliceblue;
    font-family: "Lucida Console", "Courier New", monospace;
    text-align: justify;
}

#terminal::-webkit-scrollbar {
    display: none; /* for Chrome, Safari, and Opera */
} 
body::-webkit-scrollbar {
    display: none; /* for Chrome, Safari, and Opera */
} 

#banner {
    z-index: 2;
    top: 0px;
    height: auto;
    width: 100%;
    position: fixed;
    border-top: 20px solid #272822;
    border-bottom: 20px solid #272822;
    background-color: #272822;
    padding-left: 3%;
}

.ascii {
    font-size: 5px;
    text-align: center;
    margin-bottom: 10em;
}

#clickable{
    display: inline;
    text-align: center;
}

a{
    background-color: aliceblue;
    color: black;
    text-decoration: none;
}

#terminal {
    overflow: auto;
    z-index: 1;
    position: absolute;
    top: 112px;
    padding-top: 7em;
    padding-bottom: 10em;
    padding-left: 3%;

    width: 90%;
    height: 70%;
}



#cmd_input{
    background-color: #272822;
    color:aliceblue;
    border:none;
    outline: none !important; 
    font-family: "Lucida Console", "Courier New", monospace;
}



#languages {
    display: inline;
}

.language {
    line-height: 0;
    margin: -5px;
}

#linkedinImg {
    position: absolute;
    top: 20%;
    height: 50px;
    width: 50px;

    border-radius: 12px;
}


#linkedinUrl {
    background-color: inherit;
}


/* Animation */
/* .command{
    animation: typing 3.5s steps(40, end);
    overflow: hidden;
    white-space: nowrap;
    margin: 0 auto;
    letter-spacing: .15em;
}


@keyframes typing {
  from { width: 0 }
  to { width: 100% }
} */

